%p#notice= notice

%p
  %b.showDetails Username:
  = @user.userName
%p
  %b.showDetails Fullname:
  = @user.fullName

%button.save{ :onclick => "window.location.href='/users/#{@user.id}/edit'"} Edit

%button.save{ :onclick => "window.location.href='/users'"} Back

