%h1 Listing reports
.CSSTableGenerator
  %table 
 
    %tr
      
      %td Patientid
      %td Reporter
      %td NextDate
      
      
 
    - @closeReports.each do |report|
      %tr
        
        %td= report.patientId
        %td= report.reporter
        %td= report.nextDate
       

%br
%button.save{ :onclick => "window.location.href='/reports/new'"} New Report

